body{ 
      background-color: greenyellow; 
  }
h1{
	font-size: 30px;
	color: teal;
}
h2{
	color:mediumpurple;
	font-size: 20px;
}
.big{
	font-size: 60px;
}
.uppercase{
	text-transform: uppercase;
}
.big.uppercase{
	color: navy;
}